Header set Access-Control-Allow-Origin "*"

<IfModule mod_env.c>
    SetEnv CI_ENV production
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|robots\.txt)
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
AcceptPathInfo On