
         body{     
            width: 100vw;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            max-width: 100vw;
            max-height: 100vh;
            max-height: calc(var(--vh, 1vh) * 100);
            background: rgb(30,70,33);
            background: linear-gradient(0deg, rgba(30,70,33,1) 0%, rgba(41,95,57,1) 40%, rgba(47,107,69,1) 63%, rgba(53,119,81,1) 100%, rgba(53,119,81,1) 100%);
            padding: 4% 4% 0% 4%;

         }

			.main-container{		
				width: 100%;
				height: 95%;
            background-color: #fefefe;
            border-radius: 3em;
            box-shadow: 0px 0px 14px 2px #313131;
			}

			.main-container > .header {
				height: 38%;
				max-height: 45%;
				width:100%; 
			}

			.main-container > .body{
				height: 54%;
				max-height: 60%;
				width:100%;
			}

			body > .footer{
            height: 4%;
            max-height: 4%;
            width: 100%;
            color: #fefefe;
            font-size: 2.2em;
            text-align: center;
             padding-top: .9em;
			}

			p{
				font-weight: 700;
				font-style: normal;
				color: #FFFFFF;
				margin: 0em 0em -0.5em 0em;
            font-size: 52px;
			}
			p.primary{
				font-family: 'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
				font-size: 3.4em;
			}
			p.secondary{
				font-family: 'Arial Bold', 'Arial';
				font-size: 1.96em;

			}

			button{
				background-color: Transparent;
				background-repeat:no-repeat;
				border: none;
				cursor:pointer;
				overflow: hidden;
				outline:none;
			}

			.input-group > input{
				font-family: 'Kanit Bold', 'Kanit Regular', 'Kanit';
				font-weight: 700;
				font-style: normal;	
				color: #646464;
				width:16em;
				height:2.2em;
			    text-align: center;
				vertical-align: middle;
				border-radius: 200px 200px 200px 200px;
				-moz-border-radius: 200px 200px 200px 200px;
				-webkit-border-radius: 1.3em;
			}

			.input-group > input::placeholder{
			    text-align: center;
			}

			div > button{
	            margin: auto 0em;
	            height: 6.3em;
               width: 18em;
	            vertical-align: middle;
               background: rgb(31,71,36);
               background: linear-gradient(90deg, rgba(31,71,36,1) 0%, rgba(53,119,81,1) 100%);
	            border-radius: 200px 200px 200px 200px;
	            -moz-border-radius: 200px 200px 200px 200px;
	            -webkit-border-radius: 3em;
                box-shadow: 3px 3px 8px 1px #313131;
	            margin-top: 55px;
	            text-align: center;
			}


			.button2{
				margin: auto 0em;
				float: left;
				height: 6.3em;
				width: 74%;
				vertical-align: middle;
				background-color: #f8fdfb;
				border-radius: 200px 200px 200px 200px;
				-moz-border-radius: 200px 200px 200px 200px;
				-webkit-border-radius: 0px 200px 200px 0px;
				box-shadow: -2px 2px 8px 3px #b7b7b7;
				border: 4px solid #b9b9b9;
				margin-top: 40px;
				text-align: right;
				padding-right: 9em;
				border-left: 0px;
			}
			.sr_btn{
            padding-top: 6px;
            color: #fdfffe;
            font-family: kanit;
            text-shadow: 1px 2px 6px black;
			}
			.sr_btn2{
				text-align: right; 
				padding-bottom: 2em;    
				color: #585555;
				font-family: kanit;
			}

			.input-group > button > p {
				margin: 0em;
			}

			input[type=text] {
				margin: 8px 0;
				border: 8px solid #3eb4b4;
				-webkit-transition: 0.5s;
				transition: 0.5s;
				outline: none;
            background: rgb(192,193,195);
            background: linear-gradient(180deg, rgba(192,193,195,1) 0%, rgba(244,244,244,1) 100%);
			}
			input[type=text]:focus {
				border: 8px solid #00676d;
				border-right: 0px;
				color: #4c4c4c ;
				box-shadow: -2px 2px 8px 3px #00676d;
			}
         /*//////////   HN/เลขบัตรประชาชน... ////////////*/


         .sli_img{
            height: 100%; 
            width: 100%;
            border-radius: 3.5em;
         }


         .rotate-vert-center {
            -webkit-animation: rtv 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2s infinite both;
                    animation: rtv 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2s infinite both;
         }
         /* ----------------------------------------------
          * Generated by Animista on 2019-10-3 12:30:19
          * Licensed under FreeBSD License.
          * See http://animista.net/license for more info. 
          * w: http://animista.net, t: @cssanimista
          * ---------------------------------------------- */

         /**
          * ----------------------------------------
          * animation rotate-vert-center
          * ----------------------------------------
          */
         @-webkit-keyframes rtv {
           0% {
             -webkit-transform: rotateY(0);
                     transform: rotateY(0);
           }
           100% {
             -webkit-transform: rotateY(360deg);
                     transform: rotateY(360deg);
           }
         }
         @keyframes rtv {
           0% {
             -webkit-transform: rotateY(0);
                     transform: rotateY(0);
           }
           100% {
             -webkit-transform: rotateY(360deg);
                     transform: rotateY(360deg);
           }
         }

         /*///// animetion logo ///////*/


         .item-1 {
     /*       position: absolute;*/
            display: block;
/*            bottom: .3em;*/
            font-size: 2.2em;
            float: left;
            animation-duration: 18s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
         }

         .item-1{
            animation-name: anim-1;
            }

            @keyframes anim-1 {
            0% { left: -54%; opacity: 1; }
            50%{ left: 22%; opacity: 1; }
            100%{ left: 100%; opacity: 1; }
         }